body {
    margin-top: 20px;
}

/* 状态单元格样式 */
.status-cell[data-status="已预约"] {
    background-color: #808080;
    color: white;
}

.status-cell[data-status="已保留"] {
    background-color: #FFCC99;
}

.status-cell[data-status="可以预约"] {
    background-color: #CCFFFF;
}

/* 闪烁消息样式 */
.flash-message {
    padding: 10px;
    margin-bottom: 10px;
}

.flash-message.error {
    background-color: #f2dede;
    color: #a94442;
}

.flash-message.success {
    background-color: #dff0d8;
    color: #3c763d;
}