<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
<h1>中国药科大学羽毛球场馆预约系统</h1>
<form action="/" method="post">
    <label for="uid">学工号(必填):</label>
    <input type="text" id="uid" name="uid" required><br><br>

    <label for="place_title">场地号(例如:4):</label>
    <input type="text" id="place_title" name="place_title" required><br><br>

    <label for="start_time">开始时间(例如:19:00):</label>
    <input type="text" id="start_time" name="start_time" required><br><br>

    <label for="order_date">预约日期:</label>
    <select id="order_date" name="order_date" required>
        {% for date in available_dates %}
        <option value="{{ date }}">{{ date }}</option>
        {% endfor %}
    </select><br><br>

    <label for="order_name">姓名(可选):</label>
    <input type="text" id="order_name" name="order_name"><br><br>

    <label for="order_phone">联系电话(可选):</label>
    <input type="text" id="order_phone" name="order_phone"><br><br>

    <label for="gym_selection">场馆选择:</label>
    <select id="gym_selection" name="gym_selection">
        {% for gym_title in gym_options %}
        <option value="{{ gym_title }}">{{ gym_title }}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" value="提交预约">
</form>

<br>
<a href="{{ url_for('appointments') }}">查看已预约</a>
{% endblock %}